* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: whitesmoke;
}

button {
    border-radius: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    color: white;
    font-weight: bold;
    height: 40px;
    width: 120px;
}

input[type='number'] {
    border-radius: 6px;
    height: 40px;
    width: 100px;
    padding: 0 10px 0 10px;
}

input[type='text'] {
    border-radius: 6px;
    height: 40px;
    width: 150px;
    padding: 0 10px 0 10px;
}

button:active {
    box-shadow: none;
    transform: translateY(2px);
}

#dst-info {
    margin: 10px;
}

#dst-info span:nth-child(2) {
    margin-left: 20px;
}

#button-start {
    background-color: rgb(0, 148, 148);
}

#button-start:hover {
    background-color:teal;
}

#button-stop {
    background-color: rgb(204, 34, 34);
}

#button-stop:hover {
    background-color: firebrick;
}

.button-change {
    background-color: rgb(122, 120, 120);
}

.button-change {
    background-color: dimgray;
}

#output-area {
    height: 60%;
    padding: 20px;
}

#std_output-area {
    background-color: #333333;
    border-radius: 20px;
    color: white;
    height: 80%;
    width: 100%;
}

#setting-area {
    display: flex;
    flex-flow: column;
    height: 40%;
    justify-content: end;
    row-gap: 20px;
    padding: 20px;
}

#start_stop-area {
    text-align: center;
}

#dst_info-area {
    align-items: center;
    display: flex;
    flex-flow: column;
    row-gap: 5px;
}

#voice_change-area {
    text-align: center;
}
